<h1>{{pirate.name}}</h1>
<h2>Pirate Show Page</h2>

<ul>
  <li>Birthplace: {{pirate.birthplace}}</li>
  <li>Year of Death: {{pirate.death_year}}</li>
  <li>Base: {{pirate.base}}</li>
  <li>Nickname: {{pirate.nickname}}</li>
</ul>
<div>
  <a href="/pirates/{{id}}/edit">Edit</a>
</div>
<form action="/pirates/{{id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete" />
</form>
<a href="/pirates">Back to the Pirate Index</a>
</div>